.Hero-Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 600px;
    background: linear-gradient(to right, #121520, #32405F, #D8525E);
    gap: 30px;

}

.Hero-Left{
    width: 600px;
    height: 500px;
    display: block;
    justify-content: center;
    align-items: center;
}

    .Hero-Left h1{
        margin-top: 190px;
        font-family: 'Michroma';
        color: white;
        font-size: 40px;
        font-weight: 9000;
    }
    .Hero-Left p{
        color: white;
        font-family: 'Michroma';
        font-weight: 900;
        margin-bottom: 30px;
    }
    #ShopNow-Landing{
        margin-top: 10px;
        width: 120px;
        height: 30px;
        background-color: #cccaca;
        color: rgb(18, 18, 19);
        border-radius: 20px;
        border: none;
        cursor: pointer;
        font-size: 10px;
        transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
    }
    #ShopNow-Landing:hover{
       background-color: #d62020d3;
        color: rgb(250, 255, 245);
        transform: translateY(-2px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    }

    #ExploreNow-Landing{
        width: 200px;
        height: 30px;
        border: none;
        border-radius: 20px;
        color: white;
        background-color: #000000;
        margin-left: 20px;
        font-size: 10px;
         transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
        cursor: pointer;
    }
    #ExploreNow-Landing:hover{
         background-color: #1512b1d3;
        color: rgb(250, 255, 245);
        transform: translateY(-2px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    }
        


.Hero-Right{
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero-Right img{
    width: 400px;
}

@media(max-width: 1034px){
.Hero-Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 600px;
    background: linear-gradient(to right, #121520, #32405F, #D8525E);
    gap: 30px;

}

.Hero-Left{
    width: 600px;
    height: 500px;
    display: block;
    justify-content: center;
    align-items: center;
}

    .Hero-Left h1{
        margin-top: 190px;
        font-family: 'Michroma';
        color: white;
        font-size: 40px;
        font-weight: 9000;
    }
    .Hero-Left p{
        color: white;
        font-family: 'Michroma';
        font-weight: 900;
        margin-bottom: 30px;
    }
    #ShopNow-Landing{
        margin-top: 10px;
        width: 120px;
        height: 30px;
        background-color: #cccaca;
        color: rgb(18, 18, 19);
        border-radius: 20px;
        border: none;
        cursor: pointer;
        font-size: 10px;
        transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
    }
    #ShopNow-Landing:hover{
       background-color: #d62020d3;
        color: rgb(250, 255, 245);
        transform: translateY(-2px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    }

    #ExploreNow-Landing{
        width: 200px;
        height: 30px;
        border: none;
        border-radius: 20px;
        color: white;
        background-color: #000000;
        margin-left: 20px;
        font-size: 10px;
         transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
        cursor: pointer;
    }
    #ExploreNow-Landing:hover{
         background-color: #1512b1d3;
        color: rgb(250, 255, 245);
        transform: translateY(-2px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    }
        


.Hero-Right{
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero-Right img{
    width: 400px;
}    
}
@media(max-width: 900px){

}
@media(max-width: 786px){

}
@media(max-width: 480px){

}