.Main-Premium{
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, #eee9e9, hsl(0, 4%, 14%));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.left-container{
    font-family: poppins;
}
    #Premium-text{
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-weight: 400;
    }
    #Grab-text{
        font-size: 20px;
        color: rgb(250, 248, 248);
        font-weight: 300;
    }
    #promo-text{
        font-size: 17px;
        color: rgb(252, 252, 252);
        font-weight: 200;
    }
    .left-container span{
        color: red;
        font-size: 20px;
        font-weight: 200;
    }
    .left-container button{
        width: 100px;
        height: 30px;
        font-size: 11px;
        border: none;
        border-radius: 30px;
        color: rgb(197, 20, 20);
        background-color: rgb(253, 253, 253);
        font-weight: 200;
    }


.right-container{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 235, 238);
    border-radius: 30px;      
    box-shadow: 0 20px 80px 20px rgba(250, 250, 250, 0.4);

}
    .right-container img{
        width: 220px;
        position: relative;
        top: -30px;
    }

@media(max-width: 1024px){

    .Main-Premium{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.left-container{
    font-family: poppins;
}
    #Premium-text{
        font-size: 28px;
        color: rgb(0, 0, 0);
        font-weight: 400;
        margin: 0;
    }
    #Grab-text{
        font-size: 18px;
        color: rgb(0, 0, 0);
        font-weight: 300;
        margin: 0;
    }
    #promo-text{
        font-size: 15px;
        color: rgb(0, 0, 0);
        font-weight: 200;
        margin: 0;
    }
    .left-container span{
        color: red;
        font-size: 20px;
        font-weight: 200;
        
    }
    .left-container button{
        margin-top: 5px;
        width: 90px;
        height: 28px;
        font-size: 10px;
        border: none;
        border-radius: 30px;
        color: white;
        background-color: red;
        font-weight: 200;
    }


.right-container{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 235, 238);
    border-radius: 30px;      
    box-shadow: 0 20px 80px 20px rgba(0, 0, 0, 0.4);

}
    .right-container img{
        width: 220px;
        position: relative;
        top: -30px;
    }

}   
@media(max-width: 786px){
  .Main-Premium{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left-container{
    font-family: poppins;
    width: 500px;
    padding-left: 10px;
}
    #Premium-text{
        font-size: 25px;
        font-weight: 400;
        margin: 0;
    }
    #Grab-text{
        font-size: 14px;
        color: rgb(0, 0, 0);
        font-weight: 300;
        margin: 0;
    }
    #promo-text{
        font-size: 13px;
        font-weight: 200;
        margin: 0;
    }
    .left-container span{
        font-size: 15px;
        font-weight: 200;
        
    }
    .left-container button{
        margin-top: 10px;
        width: 80px;
        height: 25px;
        font-size: 9px;
        border-radius: 20px;
        font-weight: 200;
    }


.right-container{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 235, 238);
    border-radius: 30px;      
    box-shadow: 0 20px 80px 20px rgba(0, 0, 0, 0.4);

}
    .right-container img{
        width: 200px;
        position: relative;
        top: -30px;
    }
}   



@media(max-width: 425px){
.Main-Premium{
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.left-container{
    font-family: poppins;
    width: 400px;
    padding-left: 50px;
}
    #Premium-text{
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }
    #Grab-text{
        font-size: 12px;
        color: rgb(0, 0, 0);
        font-weight: 300;
        margin: 0;
    }
    #promo-text{
        font-size: 12px;
        font-weight: 200;
        margin: 0;
    }
    .left-container span{
        font-size: 15px;
        font-weight: 200;
        
    }
    .left-container button{
        margin-top: 10px;
        width: 75px;
        height: 23px;
        font-size: 8px;
        border-radius: 20px;
        font-weight: 200;
    }


.right-container{
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 235, 238);
    border-radius: 30px;      
    box-shadow: 0 20px 80px 20px rgba(0, 0, 0, 0.4);

}
    .right-container img{
        width: 170px;
        position: relative;
        top: -30px;
    }
  
}   
 
 