.Loginpage-Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 150px;
}

    .Loginpage{
        display: flex;
        align-items: center;
        width: 600px;
        height: 400px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 20px 80px 20px rgba(0, 0, 0, 0.4);
        padding: 10px;
        justify-content: center;
    }
        .FormLogin-container{
            width: 290px;
            height: 400px;
            display: flex;
            flex-direction: column;  
            margin-right: 10px;
        }
            #Login-Text{
                text-align: center;
                font-size: 30px;
                font-family: poppins;
                font-weight: 500;
                margin-top: 70px;
            }
            #LoginForm{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                margin-top: 30px;
            }
            #SubmitBtn-Login{
                width: 200px;
                height: 30px;
                font-size: 10px;
                font-family: poppins;
                font-weight: 300;
                border-radius: 30px;
                border: none;
                background-color: rgb(0, 0, 0);
                color: white;
            cursor: pointer;
            overflow: hidden;
             transition: 
            background-color 0.3s ease,
            transform 0.2s ease,
            box-shadow 0.2s ease;
    
    }        
        #SubmitBtn-Login:hover {
            background-color: #65913dd3;
            color: rgb(250, 255, 245);
            transform: translateY(-2px);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
        }
            .Input-Login{
                width: 250px;
                height: 30px;
                border: none;
                background-color: rgb(206, 203, 203);
                border-radius: 30px;
                color: black;
                padding-left: 10px;
                font-family: poppins;
                
            }
            #Clickhere{
                font-family: poppins;
                font-size: 8px;
                margin-top: 10px;
                text-align: center;
            }
                .Input-Login input{
                    font-size: 15px;
                }
            .CheckLine{   
            display: flex;
            align-items: center;   
            gap: 5px;              
            justify-content: flex-start;
            font-family: poppins;
            font-size: 7px;
            }
                .CheckLine input{
                    width: 10px;
                }
            .social-mediaAcc{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin-top: 20px;
            }
                .social-mediaAcc img{
                    
                }

        .left-imageLogin img {
            width: 300px;
            height: 400px;
            border-radius: 30px;
        }
@media (max-width:1024px) {
    .Loginpage-Main{
    margin-top: 150px;
}

    .Loginpage{
        display: flex;
        align-items: center;
        width: 600px;
        height: 400px;
        border-radius: 30px;
        padding: 10px;
        justify-content: center;
    }
        .FormLogin-container{
            width: 290px;
            height: 400px;
            margin-right: 10px;
        }
            #Login-Text{
                text-align: center;
                font-size: 30px;
                font-weight: 500;
                margin-top: 50px;
            }
            #LoginForm{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                margin-top: 30px;
            }
            #SubmitBtn{
                width: 200px;
                height: 30px;
                font-size: 10px;
                font-weight: 300;
                border-radius: 30px;
            }
            .Input-Login{
                width: 250px;
                height: 30px;
                border: none;
                border-radius: 30px;
                padding-left: 10px;
                
            }
                .Input-Login input{
                    font-size: 15px;
                }
            #Clickhere{
                font-size: 8px;
                margin-top: 10px;
                text-align: center;
            }
                
            .CheckLine{   
            display: flex;
            align-items: center;   
            gap: 5px;              
            justify-content: flex-start;
            font-size: 7px;
            }
                .CheckLine input{
                    width: 10px;
                }
            .social-mediaAcc{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin-top: 20px;
            }

        .left-imageLogin img {
            width: 300px;
            height: 400px;
            border-radius: 30px;
        }

}        
@media (max-width:786px) {
    .Loginppage-Main{
    margin-top: 150px;
}

    .Loginpage{
        display: flex;
        align-items: center;
        width: 500px;
        height: 350px;
        border-radius: 30px;
        padding: 10px;
        justify-content: center;
    }
        .FormLogin-container{
            width: 250px;
            height: 400px;
            margin-right: 10px;
        }
            #Login-Text{
                text-align: center;
                font-size: 25px;
                font-weight: 500;
                margin-top: 70px;
            }
            #LoginForm{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
                margin-top: 30px;
            }
            #SubmitBtn-Login{
                width: 150px;
                height: 25px;
                font-size: 9px;
                font-weight: 300;
                border-radius: 30px;
            }
            .Input-Login{
                width: 210px;
                height: 25px;
                border: none;
                border-radius: 30px;
                padding-left: 10px;
                font-size: 10px;
                
            }
                .Input-Login input{
                    font-size: 12px;
                }
            #Clickhere{
                font-size: 7px;
                margin-top: 10px;
                text-align: center;
            }
                
            .CheckLine{   
            display: flex;
            align-items: center;   
            gap: 5px;              
            justify-content: flex-start;
            font-size: 6px;
            }
                .CheckLine input{
                    width: 7px;
                }
            .social-mediaAcc{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                margin-top: 10px;
            }

        .left-imageLogin img {
            width: 250px;
            height: 350px;
            border-radius: 30px;
        }
        .social-mediaAcc img{
            width: 12px;
        }
}        
@media (max-width:480px) {
    .Loginpage-Main{
    margin-top: 150px;
}

    .Loginpage{
        display: flex;
        align-items: center;
        width: 260px;
        height: 320px;
        border-radius: 30px;
        padding: 10px;
        justify-content: center;
    }
        .FormLogin-container{
            width: 250px;
            height: 400px;
            margin-right: 10px;
        }
            #Login-Text{
                text-align: center;
                font-size: 25px;
                font-weight: 600;
                margin-top: 70px;
            }
            #LoginForm{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
                margin-top: 45px;
            }
            #SubmitBtn-Login{
                width: 140px;
                height: 25px;
                font-size: 9px;
                font-weight: 300;
                border-radius: 30px;
            }
            .Input-Login{
                width: 200px;
                height: 23px;
                border: none;
                border-radius: 30px;
                padding-left: 10px;
                font-size: 9px;
                
            }
                .Input-Login input{
                    font-size: 11px;
                }
            #Clickhere{
                font-size: 7px;
                margin-top: 10px;
                text-align: center;
            }
                
            .CheckLine{   
            display: flex;
            align-items: center;   
            gap: 5px;              
            justify-content: flex-start;
            font-size: 6px;
            }
                .CheckLine input{
                    width: 6px;
                }
            .social-mediaAcc{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                margin-top: 10px;
            }

        .left-imageLogin img {
            display: none;
            width: 250px;
            height: 350px;
            border-radius: 30px;
        }
        .social-mediaAcc img{
            width: 12px;
        }
}        
              